In [2]:
!pip install --upgrade pip >/dev/null 2>&1
!pip install --upgrade pyhive >/dev/null 2>&1
!pip install --upgrade pandas-profiling >/dev/null 2>&1
!pip install --upgrade seaborn >/dev/null 2>&1

In [1]:
from pyhive import presto
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
import datetime
import pprint
(pd.__version__,sns.__version__, np.__version__)

('0.25.1', '0.9.0', '1.17.0')

### Generating some example data

In [8]:
sample_size = 10_000_000

f0 = np.random.randint(2, size=sample_size)
aa_milne_arr = ['pooh', 'rabbit', 'piglet', 'christopher']
f1 = np.random.choice(aa_milne_arr, size=sample_size, p=[0.5, 0.1, 0.1, 0.3])
f2 = np.random.randint(5_000, size=sample_size)
f3 = np.random.randint(100, size=sample_size)
f4 = np.random.randint(100_000, size=sample_size)
f5 = np.random.randint(500_000, size=sample_size)
sha_arr = [
    '33502f201fb635c6f05664bc2912b6b924756237',
    '441373510f02e9672a1570a47fc3b222f2f95327',
]
f6 = np.random.choice(sha_arr, size=sample_size, p=[0.4, 0.6])
cities_arr = [
    'Seattle',
    'Los Angeles',
    'Portland',
    'San Diego',
    'Phoenix',
    'Dallas',
]
f7 = np.random.choice(cities_arr, size=sample_size, p=[0.1, 0.2, 0.2, 0.2, 0.1, 0.2])
f8 = np.random.random_sample((sample_size,))

In [19]:
df = pd.DataFrame({
    'bin_int': f0, 'milne': f1, 'rint_5_000': f2,
    'rint_100': f3, 'rint_100_000': f4, 'rint_500_000': f5,
    'sha': f6, 'cities': f7, 'rfloat': f8,
})
df.sample(10)

,bin_int,milne,rint_5_000,rint_100,rint_100_000,rint_500_000,sha,cities,rfloat
67418,0,christopher,285,80,27820,103089,33502f201fb635c6f05664bc2912b6b924756237,Dallas,0.678457
2009722,1,pooh,3461,34,70927,300677,441373510f02e9672a1570a47fc3b222f2f95327,Portland,0.497670
4698945,1,christopher,4568,23,37505,419035,441373510f02e9672a1570a47fc3b222f2f95327,Phoenix,0.773957
7706450,0,piglet,1359,56,87865,126511,441373510f02e9672a1570a47fc3b222f2f95327,Phoenix,0.612652
6698918,1,pooh,3184,59,7432,361515,441373510f02e9672a1570a47fc3b222f2f95327,San Diego,0.911131
5976019,1,pooh,2527,77,50619,361685,441373510f02e9672a1570a47fc3b222f2f95327,Portland,0.042388
8449344,0,piglet,360,0,49313,117650,33502f201fb635c6f05664bc2912b6b924756237,Portland,0.859263
2559723,0,pooh,4774,27,10051,60825,441373510f02e9672a1570a47fc3b222f2f95327,Portland,0.984520
9339734,0,piglet,3725,8,197,3887,441373510f02e9672a1570a47fc3b222f2f95327,Portland,0.357577
6497346,0,christopher,4442,61,15139,415851,33502f201fb635c6f05664bc2912b6b924756237,Los Angeles,0.390574